.title-div{
    text-align: center;
    justify-content: center;
    
}
p{
   font-weight: bold;
}

.title-cotizacion{
    /* Mudanzas */
font-family:Arial, Helvetica, sans-serif;
color: #FF7A1A;
}

#logo-div{
    height: 40px;
    width: 40px;
}

.div-h5{
    font-family:Arial, Helvetica, sans-serif;
    color: #FF7A1A; 
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 300px); /* Ancho fijo para cada columna */
    grid-gap: 10px; /* Espacio entre elementos */
    margin-left: 100px;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
  }
  
  .input-group label {
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%; /* El input ocupará todo el ancho disponible */
  }

  
.contenedor1 {
    display: grid;
    grid-template-columns: repeat(4, 300px); /* Ancho fijo para cada columna */
    grid-gap: 10px; /* Espacio entre elementos */
    margin-left: 100px;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
  }
  
  .input-group label {
    margin-bottom: 5px;
  }
  
  .input-group input{
    width: 100%; /* El input ocupará todo el ancho disponible */
  }

.button{
width: 200px;
  }
select{
    height: 42px;
}

.capsula{
    margin: 50px;
}

